* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: helvetica;
}

.wrapper {
  width: 87%;
  margin: 0 auto;
  padding-top: 40px;
}

.nav {
  width: 100%;
  height: 100px;
}

.logo {
  float: left;
  width: 350px;
  height: 100%;
  padding-top: 25px;
}

.logo a {
  color: black;
}

.logo h1 {
  font-weight: 600;
  font-size: 30px;
}

.menu {
  float: right;
  width: 260px;
  height: 100%;
  display: table;
}

.menu a {
  color: grey;
}

.menu ul {
  display: table-cell;
  vertical-align: middle;
}

.menu li {
  display: inline;
  margin: 0 10px 0 10px;
}

li {
  list-style-type: none;
}

a  {
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}

.drop {
  border: none;
  background: transparent;
  position: absolute;
  top: 60px;
  right: 30px;
  display: none;
  cursor: pointer;
}

.dropmenu {
  display: none;
  text-align: center;
  width: 100%;
  height: 100px;
}

.dropmenu li {
  padding: 10px 0 10px 0;
  font-size: 15px;
}

.dropmenu li:hover {
  background-color: #f2f2f2;
}

.dropmenu a {
  color: grey;
}

.profile {
  width: 100%;
  text-align: center;
  padding: 50px 20px 50px 20px;
  background-color: #ef9eea;
  border-radius: 10px;
  margin-top: 50px;
}

.profile h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 50px;
}

h1 {
  font-weight: 300;
}

.profile p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
}

.services {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 30px;
}

.design, .develop, .responsive {
  min-height: 250px;
}

.design img, .develop img, .responsive img {
  width: 160px;
  height: auto;
}

.design {
  width: 700px;
  float: left;
  margin-bottom: 100px;
  background-color: #cccccc;
  padding: 30px;
  border-radius: 0 10px 10px 0;
  padding-left: 100px;
}

.design img {
  float: left;
  margin-right: 20px;
}

.develop {
  width: 700px;
  float: right;
  margin-bottom: 100px;
  background-color: #cccccc;
  padding: 40px;
  border-radius: 10px 0 0 10px;
  padding-right: 100px;
}

.develop img {
  float: left;
  margin-right: 20px;
}

.responsive {
  width: 700px;
  float: left;
  background-color: #cccccc;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  padding-left: 100px;
}

.responsive img {
  float: left;
  margin-right: 20px;
}

.design p, .develop p, .responsive p{
  text-align: justify;
  font-family: Helvetica;
  line-height: 1.4;
  font-size: 17px;
}

.foot {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #ef9eea;
  box-shadow: 1px 0 10px grey;
  padding: 30px 10px 10px 0px;
  color: white;
}

.foot p {
  font-size: 17px;
}

.foot a {
  margin: 0 5px 0 5px;
}

.fa {
  color: grey;
  transition: color 0.2s ease;
  font-size: 2em;
}

.fa-instagram:hover, .fa-facebook:hover {
  color: white;
}

.lol {
  width: 100%;
  text-align: center;
  padding: 50px 0 50px 0;
  height: auto;
}

.lol .fa {
  font-size: 10em;
}

.portfolio {
  width: 100%;
  height: auto;
  padding: 50px 0px 50px 0px;
  text-align: center;
  font-weight: 200;
}

.portfolio h1 {
  font-size: 40px;
}

.website {
  width: 100%;
  margin-bottom: 30px;
}

.left {
  width: 45%;
  float: left;
}

.right {
  width: 45%;
  float: right;
}

.list {
  width: 100%;
  padding: 20px 20px 40px 20px;
  background-color: #b3b3b3;
  min-height: 300px;
  position: relative;
}

.list h2 {
  font-weight: 300;
  font-size: 30px;
}

.list a {
  font-size: 15px;
  text-decoration: underline;
  position: absolute;
  bottom: 10px;
  left: 46%;
}

.contact {
  text-align: center;
  margin: 30px 0 50px 0;
}

.contact h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.contact h2 {
  font-weight: 400;
}

.contact a {
  color: black;
}

.email {
  width: 100%;
  background-color: #f47064;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.5s background ease-in-out;
  transition: 0.2s box-shadow ease-in-out;
}

.email:hover {
  background-color: #ef3828;
  box-shadow: 0 1px 5px black;
}

.whatsapp {
  width: 100%;
  background-color: #83ef77;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.5s background ease-in-out;
  transition: 0.2s box-shadow ease-in-out;
}

.whatsapp:hover {
  background-color: #26ef10;
  box-shadow: 0 1px 5px black;
}

.instagram {
  width: 100%;
  background-color: #e080ed;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.5s background ease-in-out;
  transition: 0.2s box-shadow ease-in-out;
}

.instagram:hover {
  background-color: #cd2be2;
  box-shadow: 0 1px 5px black;
}



@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }

  .logo {
    padding-top: 10px;
  }

  .menu {
    display: none;
  }

  .drop {
    display: block;
    top: 45px;
  }

  .nav {
    padding: 0 20px 0 20px;
    height: 50px;
  }

  .profile {
    border-radius: 0px;
  }

  .design, .develop, .responsive {
    width: 100%;
    float: none;
    min-height: 150px;
    background-color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
  }

  .design img, .develop img, .responsive img {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    width: 120px;
  }

  .design h1, .develop h1, .responsive h1 {
    margin-bottom: 10px;
  }

  .logo {
    margin-left: 5%;
  }

  .portfolio {
    padding: 50px 30px 50px 30px;
  }

}


@media screen and (max-width: 600px) {

  .profile p {
    text-align: justify;
  }

  .left {
    float: none;
    width: 100%;
  }

  .right {
    float: none;
    width: 100%;
  }

  .list {
    margin: 0 0 30px 0;
  }

}

@media screen and (max-width: 400px) {
  .nav {
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #595959;
    box-shadow: 0 1px 5px grey;
  }

  .logo h1 {
    color: white;
  }

  .wrapper {
    padding-top: 10px;
  }

  .profile {
    padding-top: 170px;
    margin-top: 0;
    background-color: white;
  }

  .drop {
    right: 10px;
    top: 8px;
  }

  .dropmenu {
    position: fixed;
    z-index: 3;
    top: 50px;
    background-color: #595959;
    margin-top: 0;
    height: auto; 
  }

  .dropmenu a {
    color: white;
  }

  .dropmenu a:hover {
    color: black;
  }

  .logo {
    width: 250px;
    height: auto;
    padding-top: 15px;
    text-align: left;
  }

  .logo h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .portfolio {
    margin-top: 120px;
  }

  .contact {
    margin-top: 170px;
  }

  .list a {
    left: 43%;
  }

  .fa {
    color: white;
  }

  .email {
    margin-bottom: 0;
  }

  .whatsapp {
    margin-bottom: 0;
  }

  .instagram {
    margin-bottom: 0;
  }

  .services {
    background-color: #cccccc;
    padding-bottom: 50px;
    margin-bottom: 0;
  }


  .design, .develop, .responsive {
    border-radius: 0;
    margin-bottom: 0;
  }

  .responsive {
    margin-bottom: 0;
    padding-bottom: 30px;
  }

}
